@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('./bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    width: 100vw;
    height: 70vh;
    /* background-color: rgb(68, 68, 68); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0px;
    box-sizing: border-box;
}

.img-container{
    max-width: 400px;
    width: 90%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.414);
    border-radius: 5px;
    margin: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 10px;
    flex-direction: column;
    color: white;
}

nav{
    width: 100%;
    margin:  0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 7vh;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color:rgba(0, 0, 0, 0.414);
    color: rgb(255, 255, 255);
    font-size: 30px;
    /* text-decoration: underline; */
    margin-bottom: 20px;
    border-radius: 0 0 7px 7px;
}

nav p {
    margin-right: 10px;
    opacity: .9;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;

}

nav div{
    display: flex;
    justify-content: space-around;
}

#image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: gray;
    width: 100%;
    border-radius: 5px;
    
}

#caption{
    /* background-color: white; */
    display: flex;
    flex-direction:column;
    min-height: 50px;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    color: rgba(255, 255, 255, 0.788);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 00;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonsection{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#next{
    padding: 10px;
    height: 70px;
    width: 120px;
    border-radius: 4px;
    border: none;
    color: rgba(255, 255, 255, 0.675);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: monospace;
    font-weight: 600;
    background-color:rgba(0, 0, 0, 0.414);
    font-size: 17px;
    
}

#next:hover{
background-color: rgba(0, 0, 0, 0.759);
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lsc{
    display: flex;
    min-height: 50px;
    height: fit-content;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
}

.lsc i{
    font-size: 30px;
    color: white;
    margin-right: 10px;
}
